@import "../variables.scss";

.FormControl {
  padding: 0.5rem 0;
  width: 100%;
  box-sizing: border-box;
  & label {
    display: block;
    padding-bottom: 0.5rem;
  }
  & input,
  button {
    box-sizing: border-box;
    display: block;
    width: 100%;
    font-size: 16px;
    margin: 0;
    padding: 0.5rem;
    border: 1px solid $border;
  }
  & .Error {
    border: 1px solid $danger;
    box-shadow: 0 0 2px $danger;
  }
  & .ErrText {
    border: 1px solid $danger;
    background-color: $danger-light;
    box-shadow: 0 0 2px $danger;
    padding: 0.25rem;
    margin: 0;
    border-top: none;
  }
}

.FormButtons {
  padding-top: 1rem;
}
