@import "variables.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $background;
  color: $foreground;
}

a {
  text-decoration: none;
  border-bottom: 1px solid $link;
  color: $link;
  &:hover {
    text-decoration: none;
    border-bottom: 1px solid $link-hover;
    color: $link-hover;
  }
  &:visited {
    text-decoration: none;
    border-bottom: 1px solid $link-visited;
    color: $link-visited;
  }
}

input {
  background-color: $background;
  border-color: $border;
  &:focus {
    border-color: $primary;
    box-shadow: 0 0 2px $primary;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  display: flex;
  justify-content: center;
  width: 100vw;
}

@media screen and (min-height: 900px) {
  #root {
    height: 100vh;
    width: 100vw;
  }
}

.App {
  box-sizing: border-box;
  max-width: 100vw;
  padding: 1rem;
  flex: 1 0 302px;
}

.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.logInForm {
  & legend {
    text-align: center;
    font-size: 120%;
  }

  & .formControl {
    padding: 0.5rem;
    width: 100%;
    box-sizing: border-box;
    & label {
      display: block;
      padding-bottom: 0.5rem;
    }
    & input,
    button {
      box-sizing: border-box;
      display: block;
      width: 100%;
      font-size: 16px;
      margin: 0;
      padding: 0.5rem;
      border: 1px solid $border;
    }
    & button {
      padding: 0.5rem;
    }
    & .error {
      border: 2px solid $danger;
    }
    & .errtext {
      border-top: none;
    }
  }
  & .errtext {
    border: 2px solid $danger;
    background-color: $danger-light;
    padding: 0.25rem;
    margin: 0;
  }
}
